In [55]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [56]:
data = pd.read_csv('movie_bd_v5.csv')

data['profit']=data['revenue'] - data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
1852,tt0162650,46000000,107196498,Shaft,Samuel L. Jackson|Jeffrey Wright|Christian Bal...,John Singleton,"Still the man, any questions?",New York police detective John Shaft arrests W...,99,Action|Adventure|Crime|Thriller,Paramount Pictures|Scott Rudin Productions,6/15/2000,5.3,2000,61196498
471,tt1213648,25000000,4644108,London Boulevard,Keira Knightley|Colin Farrell|Anna Friel|Ray W...,William Monahan,Not every criminal wants to be one.,A parolee battles a gangster for the affection...,103,Drama|Crime,GK Films|Henceforth|Projection Pictures|London...,11/10/2010,5.5,2010,-20355892
794,tt0491152,35000000,59901913,Something Borrowed,Kate Hudson|Ginnifer Goodwin|John Krasinski|Co...,Luke Greenfield,It's a thin line between love and friendship.,Though Rachel (Ginnifer Goodwin) is a successf...,112,Comedy|Drama|Romance,Alcon Entertainment|Wild Ocean Films|2S Films,5/5/2011,6.0,2011,24901913
869,tt0121765,120000000,649398328,Star Wars: Episode II - Attack of the Clones,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,"Ten years after the invasion of Naboo, the gal...",142,Adventure|Action|Science Fiction,Lucasfilm,5/15/2002,6.4,2002,529398328

In [57]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [53]:
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [156]:
x_1 = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).index[0]

answers['1'] = x_1

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [157]:
x_2 = data.groupby(['original_title' , 'imdb_id'])['runtime'].max().sort_values(ascending=False).index[0]

answers['2'] = x_2

# 3. Какой из фильмов самый короткий (в минутах)?

In [158]:
x_3 = data.groupby(['original_title' , 'imdb_id'])['runtime'].max().sort_values(ascending=True).index[0]

answers['3'] = x_3

# 4. Какова средняя длительность фильмов?

In [159]:
x_4 = round(data['runtime'].mean(),0)

answers['4'] = x_4

# 5. Каково медианное значение длительности фильмов?

In [160]:
data.describe()

answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [161]:
data['profit']=data['revenue'] - data['budget']
x_6 = data.groupby(['original_title'])['profit'].max().sort_values(ascending=False).index[0]

answers['6'] = x_6

# 7. Какой фильм самый убыточный?

In [162]:
x_7 = data.groupby(['original_title'])['profit'].max().sort_values(ascending=True).index[0]

answers['7'] = x_7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [163]:
x = data[data['profit'] > 0]
x_8 = len(x)

answers['8'] = x_8

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [164]:
x_9 = data.loc[data.release_year == 2008].groupby(['original_title'])['revenue'].max().sort_values(ascending=False).index[0]

answers['9'] = x_9

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [165]:
s = data.loc[data.release_year <= 2014]
x_10 = s.loc[s.release_year >= 2012].groupby(['original_title'])['profit'].max().sort_values(ascending=True).index[0]

answers['10'] = x_10

# 11. Какого жанра фильмов больше всего?

In [166]:
s = data.copy()
s['genres_split'] = data['genres'].str.split('|')
a = s.explode('genres_split')
x_11 = a['genres_split'].value_counts().index[0]

answers['11'] = x_11

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [167]:
s = data.copy()
s['genres_split'] = data['genres'].str.split('|')
a = s.explode('genres_split')
x_12 = a.loc[a.profit > 0]['genres_split'].value_counts().index[0]

answers['12'] = x_12

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [168]:
x_13 = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0] 
#Здесь можно обойтись без функции split, пользуйся обычной логикой. У всех высокобюджетных фильмов не бывает несколько режиссеров. 
answers['13'] = x_13

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [169]:
s = data.loc[data.genres.str.contains('Action') == True]
a = s.copy()
a['dirs'] = s['director'].str.split('|')
x_14 = a.explode('dirs')['dirs'].value_counts().index[0]

answers['14'] = x_14

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [170]:
s = data.loc[data.release_year == 2012]
a = s.copy()
a['actors'] = s['cast'].str.split('|')
x_15 = a.explode('actors').groupby(['actors'])['revenue'].sum().sort_values(ascending=False).index[0]

answers['15'] = x_15

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [171]:
s = data.loc[data.budget > data.budget.mean()]
a = s.copy()
a['actors'] = s['cast'].str.split('|')
x_16 = a.explode('actors')['actors'].value_counts().index[0]

answers['16'] = x_16

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [172]:
s = data.copy()
s['actors'] = data['cast'].str.split('|')
a = s.copy()
b = s.copy()
b = a.explode('actors')
c = b.loc[b.actors == 'Nicolas Cage']
d = c.copy()
d['genre_split'] = c['genres'].str.split('|')
x_17 = d.explode('genre_split')['genre_split'].value_counts().index[0]

answers['17'] = x_17

# 18. Самый убыточный фильм от Paramount Pictures

In [173]:
s = data.copy()
s['companies_split'] = data['production_companies'].str.split('|')
a = s.copy()
a = s.explode('companies_split')
x_18 = a.loc[a.companies_split.str.contains('Paramount Pictures') == True].groupby(['original_title'])['profit'].min().sort_values(ascending=True).index[0]

answers['18'] = x_18

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [174]:
x_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

answers['19'] = x_19

# 20. Какой самый прибыльный год для студии Warner Bros?

In [175]:
s = data.copy()
s['companies_split'] = data['production_companies'].str.split('|')
a = s.copy()
a = s.explode('companies_split')
x_20 = a.loc[a.companies_split.str.contains('Warner Bros') == True].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

answers['20'] = x_20

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [176]:
year = {'1/' : 'Январь' , 
        '2/' : 'Февраль' ,
        '3/' : 'Март' ,
        '4/' : 'Апрель' ,
        '5/' : 'Май' ,
        '6/' : 'Июнь' ,
        '7/' : 'Июль' ,
        '8/' : 'Август',
        '9/' : 'Сентябрь',
        '10' : 'Октябрь',
        '11' : 'Ноябрь',
        '12' : 'Декабрь'}

data['month']=data.release_date.str.slice(stop=2)
x_21 = data['month'].value_counts().index[0]

answers['21'] = year[x_21]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [177]:
a = data['month'].value_counts()
b = dict()
for i in year.keys():
    for j in a.keys():
        if i == j:
            b.setdefault(year[i] , a[j])
x_22 = b['Июнь'] + b['Июль'] + b['Август']

answers['22'] = summer

# 23. Для какого режиссера зима – самое продуктивное время года?

In [178]:
x_23 = data.loc[data.month.isin(['1/','2/','12'])].director.value_counts().index[0]

answers['23'] = x_23

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [189]:
data['title_len']=data.original_title.str.len()
s = data.copy()
s['companies_split'] = data['production_companies'].str.split('|')
a = s.copy()
a = s.explode('companies_split')
x_24 = a.groupby(['companies_split'])['title_len'].max().sort_values(ascending=False).index[0]

answers['24'] = x_24

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [180]:
data['overview_len']=data.overview.str.len()
s = data.copy()
s['companies_split'] = data['production_companies'].str.split('|')
a = s.copy()
a = s.explode('companies_split')
x_25 = a.groupby(['companies_split'])['overview_len'].mean().sort_values(ascending=False).index[0]

answers['25'] = x_25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [181]:
s = data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)
x = round(1889/100,0)
s.head(int(round(1889/100,0)))

answers['26'] = 'The Dark Knight , Inside Out , 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [182]:
from itertools import combinations
df = data.copy()
df['cast_split'] = data['cast'].str.split('|')
actors_couples = list()
actors_couples_nosplit = list()
A = pd.Series(df.cast_split)
for actors in A:
    couples = list(combinations(actors, 2))
    actors_couples.append(couples)
for i in actors_couples:
    for j in i:
        couple_1 = j[0] + j[1]
        actors_couples_nosplit.append(couple_1)
B = pd.Series(actors_couples_nosplit)        
x_27 = B.value_counts().index[0]

answers['27'] = x_27

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [183]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': ('Gods and Generals', 'tt0279111'),
 '3': ('Winnie the Pooh', 'tt1449283'),
 '4': 110.0,
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Warner Bros.',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight , Inside Out , 12 Years a Slave',
 '27': 'Daniel RadcliffeRupert Grint',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}